
@using System.Collections
@using WebUI.HtmlHelpers

@model IEnumerable<DomainModel.Entities.Product>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/Site.cshtml";
}

<h2>List</h2>

@foreach (var product in Model)
{
    <div class="item">
        <h3>@product.Name</h3>
        @product.Description
        <h4>@product.Price.ToString("c")</h4>
    </div>
}

Page: 
@Html.PageLinks((int)ViewBag.CurrentPage, (int)ViewBag.TotalPages, x => Url.Action("List", new { page = x }))

