@using System.Collections
@model IEnumerable<DomainModel.Entities.Product>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/Site.cshtml";
}

<h2>List</h2>

@foreach (var product in Model)
{
    <div class="item">
        <h3>@product.Name</h3>
        @product.Description
        <h4>@product.Price.ToString("c")</h4>
    </div>
}

@Html.PageLinks(2, 3, i => Url.Action("List", new { page= i}))
