@using System.Collections
@using WebUI.HtmlHelpers

@model IEnumerable<DomainModel.Entities.Product>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/Site.cshtml";
}

<h2>List</h2>

@foreach (var product in Model)
{
    Html.RenderPartial("ProductSummary", product);
}


<div class="pager">
    Page:
    @Html.PageLinks((int)ViewBag.CurrentPage,
                    (int)ViewBag.TotalPages,
                    x => Url.Action("List", new { page = x }))
</div>

